* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-top: 29px;
  margin-left: 135px;
  margin-right: 135px;
}
nav img {
  display: flex;
  width: 70px;
  height: 43.71px;
}
nav ul {
  display: flex;
  gap: 52px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  font-size: medium;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  letter-spacing: 2px;
}

nav ul :hover {
  box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-color: black;
}
.hamburger {
  display: none;
}
/* responsif */
@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
  nav {
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    display: flex;
    margin: 16px 16px 16.14px 16px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    padding: 26px 69px 26.14px 69px;
    column-gap: 16px;
  }
  nav ul li a {
    color: white;
  }
  nav ul :hover {
    box-sizing: border-box;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  .bordertext {
    display: none;
    border-color: white;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
    color: white;
  }
}
/* hero */
hero {
  display: flex;
  box-sizing: border-box;
  margin: 13.79px 135px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.teks-hero {
  align-content: center;
}
.teks-hero h1 {
  font-size: 64px;
}
.teks-hero h1 p {
  font-weight: 300;
}
.teks-hero h2 {
  margin-top: 16px;
  margin-bottom: 40px;
}
.teks-hero h2 p {
  display: inline;
  font-size: 22px;
  font-weight: 300;
}
.button {
  display: inline;

  margin-top: 40px;
}
.button a {
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  padding: 16px 40px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: 300;
}
.img-hero img {
  display: flex;
  width: 570px;
  height: 670px;
}
/* RESPONSIF HERO */
@media screen and (max-width: 768px) {
  hero {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    margin: 16px 17px;
    font-family: "Roboto", sans-serif;
  }
  .img-hero img {
    display: flex;
    justify-self: left;
    width: 100%;
    height: 50%;
  }
  .teks-hero h1 {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    font-size: 32px;
    justify-items: left;
  }
  .teks-hero h2 {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .teks-hero h2 p {
    display: flex;
    font-size: 100%;
    font-weight: 300;
  }

  .button a {
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    padding: 16px 4px;
    letter-spacing: 8px;

    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: 300;
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  hero {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    margin: 16px 17px;
    font-family: "Roboto", sans-serif;
  }
  .img-hero img {
    display: flex;
    justify-self: left;
    width: 100%;
    height: 200px;
  }
  .teks-hero h1 {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    font-size: 32px;
    justify-items: left;
  }
  .teks-hero h2 {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .teks-hero h2 p {
    display: flex;
    font-size: 11px;
    font-weight: 300;
  }

  .button a {
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    padding: 16px 4px;
    letter-spacing: 8px;

    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: 300;
    font-size: 11px;
  }
}

/* about */
.grid {
  display: grid;
  margin: 135px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  max-width: 100%;
  max-height: 395px;
}
.grid img {
  width: 100%;
  height: 100%;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 2 / 3 / 3;
}
