* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-top: 29px;
  margin-left: 135px;
  margin-right: 135px;
}
nav img {
  display: flex;
  width: 70px;
  height: 43.71px;
}
nav ul {
  display: flex;
  gap: 52px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  font-size: medium;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  letter-spacing: 2px;
}

nav ul :hover {
  box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-color: black;
}
.hamburger {
  display: none;
}
/* navbar responsif */
@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
  nav {
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    display: flex;
    margin: 16px 16px -22px 16px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    padding: 26px 69px 26.14px 69px;
    column-gap: 16px;
  }
  nav ul li a {
    color: white;
  }
  nav ul :hover {
    box-sizing: border-box;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  .bordertext {
    display: none;
    border-color: white;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
    color: white;
  }
}
/* hero */
hero {
  display: flex;
  box-sizing: border-box;
  margin: 13.79px 135px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.teks-hero {
  align-content: center;
}
.teks-hero h1 {
  font-size: 64px;
}
.teks-hero h1 p {
  font-weight: 300;
}
.teks-hero h2 {
  margin-top: 16px;
  margin-bottom: 40px;
}
.teks-hero h2 p {
  display: inline;
  font-size: 22px;
  font-weight: 300;
}
.button {
  display: inline;

  margin-top: 40px;
}
.button a {
  font-family: "Roboto", sans-serif;
  border: 1px solid #333333;
  padding: 16px 40px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
  background-color: #333333;
  font-weight: 300;
}
.img-hero img {
  display: flex;
  width: 570px;
  height: 670px;
}
/* RESPONSIF HERO */
@media screen and (max-width: 1100px) {
  hero {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    margin: 16px 17px;
    font-family: "Roboto", sans-serif;
  }
  .img-hero img {
    display: flex;
    justify-self: left;
    width: 100%;
    height: 75%;
    aspect-ratio: 2;
  }
  .teks-hero h1 {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    font-size: 32px;
    justify-items: left;
  }
  .teks-hero h2 {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .teks-hero h2 p {
    display: flex;
    font-size: 100%;
    font-weight: 300;
  }

  .button a {
    font-family: "Roboto", sans-serif;
    border: 1px solid #333333;
    padding: 16px 4px;
    letter-spacing: 8px;

    text-decoration: none;
    color: white;
    background-color: #333333;
    font-weight: 300;
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  hero {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    margin: 16px 17px;
    font-family: "Roboto", sans-serif;
  }
  .img-hero img {
    display: flex;
    justify-self: left;
    width: 100%;
    height: 200px;
  }
  .teks-hero h1 {
    gap: 10px;
  }
  .teks-hero h2 {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .teks-hero h2 p {
    display: flex;
    font-size: 11px;
    font-weight: 300;
  }

  .button a {
    font-family: "Roboto", sans-serif;
    border: 1px solid #333333;
    padding: 16px 4px;
    letter-spacing: 3px;

    text-decoration: none;
    color: white;
    background-color: #333333;
    font-weight: 300;
    font-size: 11px;
  }
}

/* about */
about {
  display: flex;
  margin: 80px 135px 0px 135px;
  padding: 30px 70px;
  background-color: #e6e6e6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 245%;
  max-width: 1170px; /* ubah sesuai kebutuhan */

  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.grid img {
  width: 100%;
  height: 100%;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 2 / 3 / 3;
}
.teks-about {
  line-height: 2;
  margin: 22.5px 32px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.teks-about h1 {
  font-weight: 200;
  font-size: 64px;
}

.teks-about h1 span {
  font-weight: 700;
}
.teks-about p {
  font-size: 16px;
  font-weight: 150;

  line-height: 1.5;
}
.teks-about a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: #333333;
  padding: 22px 40px;
}
/* responsive about*/

@media screen and (max-width: 1100px) {
  about {
    display: flex;
    flex-direction: column;
    margin: 32px 17px 2px 16px;
    margin-top: 32px;

    padding: 8px 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 6.5px;
    grid-row-gap: 7px;

    max-width: 100%;
    max-height: 100%;
  }
  .grid img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.5;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .teks-about {
    line-height: 1;
    margin: 8px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-justify: inter-word;
  }

  .teks-about h1 {
    font-weight: 200;
    font-size: 32px;
  }

  .teks-about h1 span {
    font-weight: 700;
  }
  .teks-about p {
    font-size: 11px;
    font-weight: 150;
  }
  .teks-about a {
    padding: 6px 16px;
    font-size: 11px;
  }
}

/* MISION */
mision {
  font-family: "roboto";
}
mision h1 {
  margin-top: 80px;
  margin-left: 135px;

  font-size: 64px;
  font-weight: 200;
}
mision span {
  font-weight: 700;
}
.isi-mision {
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
  align-items: center;
}
.isi-mision span {
  font-size: 160px;
  opacity: 0.2;
}

.isi-mision p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 22px;
  padding: 10px;
}
.misi_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.misi_2 {
  padding-left: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* responsif mission */
@media screen and (max-width: 1100px) {
  mision {
    width: 288px;
    height: 188px;
  }
  mision h1 {
    margin: 32px 16px 32px 16px;
    font-size: 32px;
  }
  .isi-mision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px 16px 32px 16px;
  }
  .misi_1 span {
    font-size: 64px;
  }

  .isi-mision .misi_1 p {
    font-size: 11px;
  }
  .misi_2 {
    padding: 0;
  }
  .misi_2 span {
    font-size: 64px;
  }

  .isi-mision .misi_2 p {
    font-size: 11px;
  }
}
/* project */
.our_project {
  margin-left: 135px;
  margin-right: 135px;
}

.teks_project {
  line-height: 2;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.teks_project h1 {
  font-weight: 200;
  font-size: 64px;
}

.teks_project h1 span {
  font-weight: 700;
}
.grid-project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr; /* atas lebih tinggi dari bawah */
  gap: 30px;
}

/* BARIS ATAS */
.project1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.project2 {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

/* BARIS BAWAH */
.project3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.project5 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.grid-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.isi_project {
  padding-top: 22px;
  display: flex;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
  justify-content: space-between;
}

.button_our {
  max-height: 56px;
}

.button_our a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: #333333;
  padding: 22px 40px;
}
/* responsive project */
@media screen and (max-width: 1100px) {
  .our_project {
    margin: 16px;
  }
  /* grid foto */
  .grid-project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .project3 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .project4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .project5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  /* font */
  .teks_project {
    line-height: 2;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-justify: inter-word;
  }
  .teks_project h1 {
    font-weight: 200;
    font-size: 32px;
  }

  .teks_project h1 span {
    font-weight: 700;
  }
  .isi_project {
    padding-top: 11px;
    display: inline;
    line-height: 1.5;
    line-break: auto;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 11px;
  }
  .button_our {
    padding-top: 10px;
  }
  .isi_project .button_our a {
    display: inline;
    flex-direction: column;
    text-decoration: none;
    font-size: 11px;
    color: white;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    background-color: #333333;
    padding: 6px 16px;
  }
}
/* contact us */
.contact {
  line-height: 2;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 135px;
  margin-right: 135px;
}
.contact h1 {
  font-weight: 200;
  font-size: 64px;
}

.contact h1 span {
  font-weight: 700;
}

.isi_contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;

  margin-right: 135px;
}

.nama {
  grid-area: 1 / 1 / 2 / 2;
}
.nomor {
  grid-area: 2 / 1 / 3 / 2;
}
.email {
  grid-area: 3 / 1 / 4 / 2;
}
.interest {
  grid-area: 4 / 1 / 5 / 2;
}
.pesan textarea {
  width: 360px;
  border: none;
  background: #d3d3d3;
  height: 140px;
  padding-left: 10px;
  line-height: 3;
}
.pesan {
  grid-area: 5 / 1 / 7 / 2;
}
textarea {
  width: 360px;
  border: none;
  background: #d3d3d3;
  height: 46px;
  line-height: 3;
  padding-left: 10px;
}
.tombol a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: #333333;
  padding: 22px 40px;
}
.tombol {
  grid-area: 7 / 1 / 8 / 2;
  margin-top: 22px;
}
.lokasi {
  grid-area: 1 / 2 / 7 / 5;
}
.lokasi iframe {
  margin-right: 135px;
  width: 850px;
  height: 369px;
}
.alamat {
  grid-area: 7 / 2 / 8 / 3;
  line-height: 0.9;
  margin-top: 10px;
  width: 280px;
}
.alamat h1 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.alamat h1 span {
  font-size: 16px;

  word-spacing: 1px;
}
.alamat_email {
  grid-area: 7 / 3 / 8 / 4;
  line-height: 0.9;
  margin-top: 10px;
  width: 280px;
  word-spacing: 5px;
}
.alamat_email h1 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.alamat_email h1 span {
  font-size: 16px;
}

.nomer {
  grid-area: 7 / 4 / 8 / 5;
  line-height: 0.9;
  margin-top: 10px;
  width: 280px;
  word-spacing: 5px;
}
.nomer h1 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.nomer h1 span {
  font-size: 16px;
}
.bawah_maps {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
